# Copyright 2017-2021 Axel Huebl, Franz Poeschel
#
# This file is part of PIConGPU.
#
# PIConGPU is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# PIConGPU is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with PIConGPU.
# If not, see <http://www.gnu.org/licenses/>.
#

##
## This configuration file is used by PIConGPU's TBG tool to create a
## batch script for PIConGPU runs. For a detailed description of PIConGPU
## configuration files including all available variables, see
##
##                      docs/TBG_macros.cfg
##


#################################
## Section: Required Variables ##
#################################

TBG_wallTime="06:00:00"

TBG_devices_x=8
TBG_devices_y=8
TBG_devices_z=8
#TBG_devices_z=1


#TBG_gridSize="480 1728 480"
TBG_gridSize="480 9344 480"
TBG_gridDist="--gridDist '60{8}' '3392,1024{1},128{4},1024{1},3392' '60{8}'"
#TBG_gridDist="--gridDist '60{8}' '912,816' '96{1}'"


#  750fs + 135fs
TBG_steps="196147"
TBG_t0_step="190152"
TBG_50fs="11076"
TBG_100fs="22153"
TBG_5fs="1108"
TBG_100fs_before_t0=$((!TBG_t0_step-!TBG_100fs))

TBG_periodic="--periodic 1 0 1"
TBG_boundary="--e_boundaryOffset 0 12 0 --Si_boundaryOffset 0 12 0"


#################################
## Section: Optional Variables ##
#################################


# useful for heating tests
TBG_sumEnergy="--fields_energy.period 2000 \
               --e_energy.period 100 --e_energy.filter all \
               --Si_energy.period 100 --Si_energy.filter all"

TBG_chargeConservation="--chargeConservation.period 2000"

TBG_e_histogram="--e_energyHistogram.period 2000 --e_energyHistogram.filter all  --e_energyHistogram.binCount 1024 \
                 --e_energyHistogram.minEnergy 0 --e_energyHistogram.maxEnergy 20000"


TBG_openPMD1="--openPMD.period  !TBG_100fs_before_t0:!TBG_steps:!TBG_5fs,!TBG_50fs \
             --openPMD.file fields \
             --openPMD.ext bp5 \
             --openPMD.dataPreparationStrategy mappedMemory \
             --openPMD.source 'fields_all' \
             --openPMD.range :,:,: \
             --openPMD.json @../input/etc/picongpu/adios_config.json"

TBG_openPMD2="--openPMD.period !TBG_t0_step:!TBG_t0_step \
             --openPMD.file particles \
             --openPMD.ext bp5 \
             --openPMD.source 'species_all' \
             --openPMD.dataPreparationStrategy mappedMemory \
             --openPMD.range :,:,: \
             --openPMD.json @../input/etc/picongpu/adios_config.json"


TBG_openPMD="!TBG_openPMD1 !TBG_openPMD2 "

TBG_checkpoint="--checkpoint.period !TBG_100fs_before_t0:!TBG_100fs_before_t0  --checkpoint.backend openPMD --checkpoint.openPMD.json @../input/etc/picongpu/adios_config.json  --checkpoint.timePeriod 300 \
                --checkpoint.tryRestart --checkpoint.restart.directory  --checkpoint.restart.backend openPMD --checkpoint.openPMD.ext bp5 --checkpoint.openPMD.dataPreparationStrategy mappedMemory "

TBG_macroParticlesCount="--e_macroParticlesCount.period 100 \
                         --Si_macroParticlesCount.period 100"


TBG_plugins="!TBG_macroParticlesCount  \
              !TBG_e_histogram \
              !TBG_sumEnergy \
              !TBG_chargeConservation \
              !TBG_checkpoint \
              !TBG_openPMD"

#################################
## Section: Program Parameters ##
#################################

TBG_deviceDist="!TBG_devices_x !TBG_devices_y !TBG_devices_z"

TBG_programParams="-d !TBG_deviceDist \
                   -g !TBG_gridSize   \
                   -s !TBG_steps      \
                   -p 1               \
                   !TBG_periodic      \
                   !TBG_plugins       \
                   !TBG_boundary      \
                   !TBG_gridDist      \
                   --versionOnce"

# TOTAL number of devices
TBG_tasks="$(( TBG_devices_x * TBG_devices_y * TBG_devices_z ))"

"$TBG_cfgPath"/submitAction.sh
